<h1>Adventure Outline</h1>

<div class="row">
  <div class="col">
    <p><strong>Title: </strong> {{ adventure.overview.title }}</p>
  </div>
  <div class="col">
    <p><strong>Real World Date:</strong> {{ adventure.overview.date }}</p>
  </div>
</div>

<p><strong>GM: </strong> {{ adventure.overview.gameMaster }}</p>

<div class="row">
  <div class="col">
    <p><strong> Campaign Date: </strong> {{ adventure.overview.campaignDate }}</p>
  </div>
  <div class="col">
    <p><strong>Campaign Episode #:</strong> {{ adventure.overview.episodeNumber }}</p>
  </div>
  <div class="col">
    <p><strong>Origination Locale:</strong> {{ adventure.overview.originationLocale }}</p>
  </div>
</div>

<p><strong>Adventure Theme:</strong> {{ adventure.overview.adventureTheme }}</p>

<p><strong>Description:</strong> {{ adventure.overview.description }}</p>

<button type="button" class="btn btn-primary" [routerLink]="['/adventure', adventure.id, 'overview']">Edit</button>

<h1>Milieu Events</h1>

<p><strong>Past Milieu Events</strong></p>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let milieuEvent of adventure.pastMilieuEvents">
    <div class="row">
      <div class="col">
        {{milieuEvent.displayName}}
      </div>
      <div class="col">
        <a href="#" class="float-right">edit</a>
      </div>
    </div>
  </li>
</ul>

<button type="button" class="btn btn-primary" (click)="addMilieuEvent('test')">Add</button>

<p><strong>Present Milieu Events</strong></p>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let milieuEvent of adventure.presentMilieuEvents">
    <div class="row">
      <div class="col">
        {{milieuEvent.displayName}}
      </div>
      <div class="col">
        <a href="#" class="float-right">edit</a>
      </div>
    </div>

  </li>
</ul>


<button type="button" class="btn btn-primary">Add</button>

<p><strong>Future Milieu Events</strong></p>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let milieuEvent of adventure.futureMilieuEvents">
    <div class="row">
      <div class="col">
        {{milieuEvent.displayName}}
      </div>
      <div class="col">
        <a href="#" class="float-right">edit</a>
      </div>
    </div>
  </li>
</ul>

<button type="button" class="btn btn-primary">Add</button>
