<h1>Adventure Outline</h1>

<div class="row">
  <div class="col">
    <p><strong>Title: </strong> {{ adventure.overview.title }}</p>
  </div>
  <div class="col">
    <p><strong>Real World Date:</strong> {{ adventure.overview.date }}</p>
  </div>
</div>

<p><strong>GM: </strong> {{ adventure.overview.gameMaster }}</p>

<div class="row">
  <div class="col">
    <p><strong> Campaign Date: </strong> {{ adventure.overview.campaignDate }}</p>
  </div>
  <div class="col">
    <p><strong>Campaign Episode #:</strong> {{ adventure.overview.episodeNumber }}</p>
  </div>
  <div class="col">
    <p><strong>Origination Locale:</strong> {{ adventure.overview.originationLocale }}</p>
  </div>
</div>

<p><strong>Adventure Theme:</strong> {{ adventure.overview.adventureTheme }}</p>

<p><strong>Description:</strong> {{ adventure.overview.description }}</p>

<button type="button" class="btn btn-primary" [routerLink]="['/adventure', adventure.id, 'overview']">Edit</button>

<h1>Milieu Events</h1>

<app-simple-list
  [title]="'Past Milieu Events'"
  [items]="adventure.pastMilieuEvents"
  (editItem)="editMiliueEvent($event)"
  (addItem)="addMilieuEvent('past')"
></app-simple-list>

<app-simple-list
  [title]="'Present Milieu Events'"
  [items]="adventure.presentMilieuEvents"
  (editItem)="editMiliueEvent($event)"
  (addItem)="addMilieuEvent('present')"
></app-simple-list>

<app-simple-list
  [title]="'Future Milieu Events'"
  [items]="adventure.futureMilieuEvents"
  (editItem)="editMiliueEvent($event)"
  (addItem)="addMilieuEvent('future')"
></app-simple-list>

<h1>Non Player Characters</h1>

<app-simple-list [title]="'Major NPCs'" [items]="adventure.majorNonPlayerCharacters"></app-simple-list>
<app-simple-list [title]="'Minor NPCs'" [items]="adventure.minorNonPlayerCharacters"></app-simple-list>
<app-simple-list [title]="'Monster NPCs'" [items]="adventure.monsterNonPlayerCharacters"></app-simple-list>
