<form action="">
  <div class="form-group">
    <label for="adventureTitle">Adventure Title</label>
    <input type="text"
           class="form-control"
           id="advetureTitle"
           name="adventureTitle"
           [(ngModel)]="adventureTitle" />
  </div>

  <div class="form-group">
    <label for="realWorldDate">Real World Date</label>
    <input type="text"
           class="form-control"
           id="realWorldDate"
           name="realWorldDate"
           [(ngModel)]="realWorldDate" />
  </div>

  <div class="form-group">
    <label for="gameMaster">GM</label>
    <input type="text"
           class="form-control"
           id="gameMaster"
           name="gameMaster"
           [(ngModel)]="gameMaster" />
  </div>

  <div class="form-group">
    <label for="campaignDate">Campaign Date</label>
    <input type="text"
           class="form-control"
           id="campaignDate"
           name="campaignDate"
           [(ngModel)]="campaignDate" />
  </div>
  <div class="form-group">
    <label for="campaignEpisodeNumber">Campaign episode #:</label>
    <input type="text"
           class="form-control"
           id="campaignEpisodeNumber"
           name="campaignEpisodeNumber"
           [(ngModel)]="campaignEpisodeNumber" />
  </div>
  <div class="form-group">
    <label for="originationLocale">Origination Locale</label>
    <input type="text"
           class="form-control"
           id="originationLocale"
           name="originationLocale"
           [(ngModel)]="originationLocale" />
  </div>
  <div class="form-group">
    <label for="adventureTheme">Adventure Theme</label>
    <input type="text"
           class="form-control"
           id="adventureTheme"
           name="adventureTheme"
           [(ngModel)]="adventureTheme" />
  </div>
</form>
