<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let adventure of adventures">
        <div class="card">
            <div class="card-header text-truncate">
                {{adventure.title}}
            </div>
            <div class="card-body">
                <p class="card-text multiline-ellipsis">
                    {{adventure.description}}
                </p>
                <button type="button" class="btn btn-primary" [routerLink]="['/adventure', adventure.id, 'details']">Open</button>
            </div>
        </div>
    </div>
</div>