<p>encounter works!</p>

<form action="">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           [(ngModel)]="name" />
  </div>
  <div class="form-group">
    <label for="encounterType">Encounter Type</label>
    <input type="text"
           class="form-control"
           id="encounterType"
           name="encounterType"
           [(ngModel)]="encounterType" />
  </div>
  <div class="form-group">
    <label for="storyFunction">Story Function</label>
    <input type="text"
           class="form-control"
           id="storyFunction"
           name="storyFunction"
           [(ngModel)]="storyFunction" />
  </div>
  <div class="form-group">
    <label for="goal">Goal</label>
    <input type="text"
           class="form-control"
           id="goal"
           name="goal"
           [(ngModel)]="goal" />
  </div>
  <div class="form-group">
    <label for="plotElement">Plot Element</label>
    <input type="text"
           class="form-control"
           id="plotElement"
           name="plotElement"
           [(ngModel)]="plotElement" />
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text"
           class="form-control"
           id="location"
           name="location"
           [(ngModel)]="location" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text"
           class="form-control"
           id="description"
           name="description"
           [(ngModel)]="description" />
  </div>
  <div class="form-group">
    <label for="boundTriggers">Bound Triggers</label>
    <input type="text"
           class="form-control"
           id="boundTriggers"
           name="boundTriggers"
           [(ngModel)]="boundTriggers" />
  </div>
  <div class="form-group">
    <label for="unboundTriggers">Unbound Triggers</label>
    <input type="text"
           class="form-control"
           id="unboundTriggers"
           name="unboundTriggers"
           [(ngModel)]="unboundTriggers" />
  </div>
</form>
