<button class="btn btn-primary"
        *ngIf="currentView !== 'default'"
        (click)="back()">Back</button>

<app-print *ngIf="currentView === 'default'"
           [adventure]="adventure"
           (editOutline)="editOutline()"
           (newMilieuEvent)="newMilieuEvent()"
           (newNonPlayerCharacter)="newNonPlayerCharacter()"
           (editMilieuEvent)="editMilieuEvent($event)"
           (editNonPlayerCharacter)="editNonPlayerCharacter($event)"></app-print>

<app-header *ngIf="currentView === 'outline'"
            [outline]="outline"></app-header>

<app-milieu-event *ngIf="currentView === 'milieuEvent'"
                  [milieuEvent]="milieuEvent"
                  [milieuEventTypes]="milieuEventTypes"
                  [milieuTimePeriods]="milieuTimePeriods"></app-milieu-event>

{{ npc | json }}

<app-non-player-character *ngIf="currentView === 'nonPlayerCharacter'"
                          [nonPlayerCharacter]="nonPlayerCharacter"></app-non-player-character>
