<h3>Encounter: {{ encounter.name }}</h3>

<form (ngSubmit)="submit()" #sessionForm="ngForm" novalidate>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input
      type="text"
      class="form-control"
      name="nameInput"
      id="nameInput"
      [(ngModel)]="encounter.name"
    />
  </div>
  <div class="form-group">
    <label for="descriptionInput">Description</label>
    <input
      type="text"
      class="form-control"
      name="descriptionInput"
      id="descriptionInput"
      [(ngModel)]="encounter.description"
    />
  </div>
</form>

<ng-content></ng-content>

<h3>Content</h3>
