<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2 class="card-title">
                    Adventure Outline
                </h2>
            </div>
            <div class="col">
                <button class="btn btn-primary float-sm-right" [routerLink]="['/adventures',id,'header']">Edit</button>
            </div>
        </div>


        <div class="row">
            <div class="col"><strong>Adventure Title:</strong> {{ title }}</div>

            <div class="col"><strong>Real world Date:</strong> {{ adventureDate }}</div>
        </div>

        <div class="row">
            <div class="col"><strong>GM:</strong> {{ gameMaster }}</div>
        </div>

        <div class="row">
            <div class="col"><strong>Campaign Date:</strong> {{ campaignDate }}</div>

            <div class="col"><strong>Campaign episode #:</strong> {{ episodeNumber }}</div>

            <div class="col"><strong>Origination Locale:</strong> {{ originationLocale }}</div>
        </div>

        <div class="row">
            <div class="col"><strong>Adventure Theme:</strong> {{ theme }}</div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            Milieu Events
        </h2>

        <div class="row">
            <div class="col">
                <strong>Past</strong>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let milieuEvent of pastMilieuEvents">
                        <button class="btn btn-link" [routerLink]="['/adventures', id, 'milieuEvent', milieuEvent.id]"
                            [queryParams]="{type:'past'}">
                            {{ milieuEvent.title }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary" [routerLink]="['/adventures', id, 'milieuEvent', 0]"
                            [queryParams]="{type:'past'}">Add</button>
                    </li>
                </ul>
            </div>

            <div class="col">
                <strong>Present</strong>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let milieuEvent of presentMilieuEvents">
                        <button class="btn btn-link" [routerLink]="['/adventures', id, 'milieuEvent', milieuEvent.id]"
                            [queryParams]="{type:'present'}">
                            {{ milieuEvent.title }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary" [routerLink]="['/adventures', id, 'milieuEvent', 0]"
                            [queryParams]="{type:'present'}">Add</button>
                    </li>
                </ul>
            </div>

            <div class="col">
                <strong>Future</strong>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let milieuEvent of futureMilieuEvents">
                        <button class="btn btn-link" [routerLink]="['/adventures', id, 'milieuEvent', milieuEvent.id]"
                            [queryParams]="{type:'future'}">
                            {{ milieuEvent.title }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary" [routerLink]="['/adventures', id, 'milieuEvent', 0]"
                            [queryParams]="{type:'future'}">Add</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            NPCs
        </h2>

        <div class="row">
            <div class="col">
                <strong>Major</strong>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let nonPlayerCharacter of majorNonPlayerCharacters">
                        <button class="btn btn-link">
                            {{ nonPlayerCharacter.name }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary">Add</button>
                    </li>
                </ul>
            </div>
            <div class="col">
                <strong>Minor</strong>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let nonPlayerCharacter of minorNonPlayerCharacters">
                        <button class="btn btn-link">
                            {{ nonPlayerCharacter.name }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary">Add</button>
                    </li>
                </ul>
            </div>
            <div class="col">
                <strong>Monster</strong>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let nonPlayerCharacter of monsterNonPlayerCharacters">
                        <button class="btn btn-link">
                            {{ nonPlayerCharacter.name }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <button class="btn btn-primary">Add</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            Plot Points
        </h2>

        <div class="row">
            <div class="col-6" *ngFor="let plotPoint of plotPoints">
                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        <strong>Act or Plot:</strong>
                        <button class="btn btn-link">
                            {{ plotPoint.title }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <strong>Inciting Incident:</strong>
                        <button class="btn btn-link">
                            {{ plotPoint.incitingIncident.title }}
                        </button>
                    </li>
                    <li class="list-group-item">
                        <strong>Endpoint:</strong>
                        <button class="btn btn-link">
                            {{ plotPoint.endPoint.title }}
                        </button>
                    </li>
                    <li class="list-group-item" *ngFor="let turningPoint of plotPoint.turningPoints">
                        <strong>Turning Point:</strong>
                        <button class="btn btn-link">
                            {{ turningPoint.title }}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <button class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
