<form (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Adventure Title</label>

    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Adventure Title"
      [(ngModel)]="title"
      />
  </div>

  <div class="form-group">
    <label for="adventureDate">Real World Date</label>

    <input
      type="text"
      class="form-control"
      id="adventureDate"
      name="adventureDate"
      placeholder="Real World Date"
      [(ngModel)]="adventureDate"
      />
  </div>

  <div class="form-group">
    <label for="gameMaster">Game Master</label>

    <input
      type="text"
      class="form-control"
      id="gameMaster"
      name="gameMaster"
      placeholder="Game Master"
      [(ngModel)]="gameMaster"
      />
  </div>

  <div class="form-group">
    <label for="campaignDate">Campaign Date</label>

    <input
      type="text"
      class="form-control"
      id="campaignDate"
      name="campaignDate"
      placeholder="Campaign Date"
      [(ngModel)]="campaignDate"
      />
  </div>

  <div class="form-group">
    <label for="episodeNumber">Campaign Episode #</label>

    <input
      type="text"
      class="form-control"
      id="episodeNumber"
      name="episodeNumber"
      placeholder="Campaign Episode #"
      [(ngModel)]="episodeNumber"
      />
  </div>

  <div class="form-group">
    <label for="originationLocale">Origination Locale</label>

    <input
      type="text"
      class="form-control"
      id="originationLocale"
      name="originationLocale"
      placeholder="Origination Locale"
      [(ngModel)]="originationLocale"
      />
  </div>

  <div class="form-group">
    <label for="theme">Adventure Theme</label>

    <input
      type="text"
      class="form-control"
      id="theme"
      name="theme"
      placeholder="Adventure Theme"
      [(ngModel)]="theme"
      />
  </div>

  <button class="btn btn-primary" type="submit">Save</button>
</form>