<div class="row" *ngIf="!!viewModel">
    <div class="col-3">
        <ul class="list-unstyled">
            <li>
                <strong>Overview</strong>
            </li>
            <li>
                <a [routerLink]="['/story', viewModel.id, 'header']">
                    {{ viewModel.title }}
                </a>
            </li>
            <li>
                <strong>Milieu Events</strong>
            </li>
            <li *ngFor="let m of viewModel.pastMilieuEvents">
                <a [routerLink]="['/story', viewModel.id, 'milieu-event', m.id]">
                    {{ m.title }}
                </a>
            </li>
            <li *ngFor="let m of viewModel.presentMilieuEvents">
                <a [routerLink]="['/story', viewModel.id, 'milieu-event', m.id]">
                    {{ m.title }}
                </a>
            </li>
            <li *ngFor="let m of viewModel.futureMilieuEvents">
                <a [routerLink]="['/story', viewModel.id, 'milieu-event', m.id]">
                    {{ m.title }}
                </a>
            </li>
            <li>
                <strong>NPCs</strong>
            </li>
            <li *ngFor="let n of viewModel.majorNonPlayerCharacters">
                <a
                    [routerLink]="['/story', viewModel.id, 'non-player-character', n.id]">
                    {{ n.name }}
                </a>
            </li>
            <li *ngFor="let n of viewModel.minorNonPlayerCharacters">
                <a
                    [routerLink]="['/story', viewModel.id, 'non-player-character', n.id]">
                    {{ n.name }}
                </a>
            </li>
            <li *ngFor="let n of viewModel.monsterNonPlayerCharacters">
                <a
                    [routerLink]="['/story', viewModel.id, 'non-player-character', n.id]">
                    {{ n.name }}
                </a>
            </li>
            <li>
                <strong>Plot Points</strong>
            </li>
            <li *ngFor="let p of viewModel.plotPoints">
                <a [routerLink]="['/story', viewModel.id, 'plot-point', p.id]">
                    {{ p.title }}
                </a>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
