<form action="">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           [(ngModel)]="name" />
  </div>
  <div class="form-group">
    <label for="storyRole">Story Role</label>
    <input type="text"
           class="form-control"
           id="storyRole"
           name="storyRole"
           [(ngModel)]="storyRole" />
  </div>
  <div class="form-group">
    <label for="characterType">Character Type</label>
    <input type="text"
           class="form-control"
           id="characterType"
           name="characterType"
           [(ngModel)]="characterType" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text"
           class="form-control"
           id="description"
           name="description"
           [(ngModel)]="description" />
  </div>
</form>
